* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #111;
    color: #eee;
    line-height: 1.6;
}

header.details {
    background: linear-gradient(120deg, #333, #111);
    text-align: center;
    padding: 4rem 1rem;
}

header h1 {
    font-size: 2.5rem;
}

header .btn {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background: #00adb5;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

section {
    padding: 3rem 1rem;
    max-width: 900px;
    margin: auto;
}

.project-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    background-color: #222;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #444;
}

.skills-list li,
.other-projects li {
    margin-bottom: 0.5rem;
}

.contact a{
    color: #ccc;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #222;
}

.view-more-btn {
    margin-top: 0.5rem;
    background-color: #00adb5;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #222;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    color: #eee;
    position: relative;
}

.modal-content a {
    color: #00adb5;
    text-decoration: underline;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #eee;
}

.hidden {
    display: none;
}